<div>
    <div class="footer">
        <div class="footer-content flex flex-wrap justify-between mx-auto max-w-screen-xl">
            <div class="flex flex-wrap column-1">
                <div class="footer-menu-1">
                    <h4>Get Started</h4>
                    <ul>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Buying</a>
                        </li>
                        <li>
                            <a href="#">Selling</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu-2">
                    <h4>Get Help</h4>
                    <ul>
                        <li>
                            <a href="#">Order Status</a>
                        </li>
                        <li>
                            <a href="#">FAQ’s</a>
                        </li>
                        <li>
                            <a class="block" href="#">Contact</a>
                            
                            <a class="block lighter-text" href="tel:12345678910">1 (234) 567 8910</a>
                            <a class="block lighter-text" href="mailto:info@bridesmaids.com">info@bridesmaids.com</a>
                            
                            <a class="block lighter-text my-[20px]" href="">Privacy Policy</a>
                            <a class="block lighter-text my-[20px]" href="">Terms & Conditions</a>
                        </li>
                    </ul>
 

                </div>
            </div>

            <div class="footer-connect column-2">
                <div class="footer-subscribe">
                    <!-- Example Subscription Form -->
                    <div class="subscribe-form">
                        <h4 class="mb-[10px]">Subscribe</h4>
                        <form action="/contact" method="post">
                            <div class="flex gap-[8px] items-end">
                                <div class="">
                                    <label class="block px-[11px]" for="name">Name</label>
                                    <input class="rounded-md h-[47px] min-w-[190px]" type="name" value="" name="name" id="name" required>
                                </div>
    
                                <div>
                                    <label class="block px-[11px]" for="email">Email</label>
                                    <input class="rounded-md h-[47px] min-w-[190px]" type="email" value="" name="email"  id="email" required>
                                </div> 
    
                                <button class="button-type-primary px-[27px]" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="footer-socials">

                    <h4 class="mb-[10px]">Get Social</h4>

                    <div class="flex gap-[40px]">
                        <div class="instagram">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41"
                                fill="none">
                                <path
                                    d="M20 13.625C18.6403 13.625 17.311 14.0282 16.1805 14.7836C15.0499 15.5391 14.1687 16.6128 13.6483 17.8691C13.128 19.1253 12.9918 20.5076 13.2571 21.8412C13.5224 23.1749 14.1772 24.3999 15.1386 25.3614C16.1001 26.3228 17.3251 26.9776 18.6588 27.2429C19.9924 27.5082 21.3747 27.372 22.6309 26.8517C23.8872 26.3313 24.9609 25.4501 25.7164 24.3195C26.4718 23.189 26.875 21.8597 26.875 20.5C26.8729 18.6773 26.1479 16.9298 24.8591 15.6409C23.5702 14.3521 21.8227 13.6271 20 13.625ZM20 26.125C18.8875 26.125 17.7999 25.7951 16.8749 25.177C15.9499 24.5589 15.2289 23.6804 14.8032 22.6526C14.3774 21.6248 14.266 20.4938 14.4831 19.4026C14.7001 18.3115 15.2359 17.3092 16.0225 16.5225C16.8092 15.7359 17.8115 15.2001 18.9026 14.9831C19.9938 14.766 21.1248 14.8774 22.1526 15.3032C23.1804 15.7289 24.0589 16.4499 24.677 17.3749C25.2951 18.2999 25.625 19.3875 25.625 20.5C25.625 21.9918 25.0324 23.4226 23.9775 24.4775C22.9226 25.5324 21.4918 26.125 20 26.125ZM27.5 4.875H12.5C10.3459 4.87748 8.28069 5.7343 6.7575 7.2575C5.2343 8.78069 4.37748 10.8459 4.375 13V28C4.37748 30.1541 5.2343 32.2193 6.7575 33.7425C8.28069 35.2657 10.3459 36.1225 12.5 36.125H27.5C29.6541 36.1225 31.7193 35.2657 33.2425 33.7425C34.7657 32.2193 35.6225 30.1541 35.625 28V13C35.6225 10.8459 34.7657 8.78069 33.2425 7.2575C31.7193 5.7343 29.6541 4.87748 27.5 4.875ZM34.375 28C34.3729 29.8227 33.6479 31.5702 32.3591 32.8591C31.0702 34.1479 29.3227 34.8729 27.5 34.875H12.5C10.6773 34.8729 8.92979 34.1479 7.64092 32.8591C6.35206 31.5702 5.62707 29.8227 5.625 28V13C5.62707 11.1773 6.35206 9.42979 7.64092 8.14092C8.92979 6.85206 10.6773 6.12707 12.5 6.125H27.5C29.3227 6.12707 31.0702 6.85206 32.3591 8.14092C33.6479 9.42979 34.3729 11.1773 34.375 13V28ZM29.375 12.375C29.375 12.6222 29.3017 12.8639 29.1643 13.0695C29.027 13.275 28.8318 13.4352 28.6034 13.5299C28.3749 13.6245 28.1236 13.6492 27.8811 13.601C27.6387 13.5528 27.4159 13.4337 27.2411 13.2589C27.0663 13.0841 26.9473 12.8613 26.899 12.6189C26.8508 12.3764 26.8755 12.1251 26.9701 11.8966C27.0648 11.6682 27.225 11.473 27.4305 11.3357C27.6361 11.1983 27.8778 11.125 28.125 11.125C28.4565 11.125 28.7745 11.2567 29.0089 11.4911C29.2433 11.7255 29.375 12.0435 29.375 12.375Z"
                                    fill="#014F9D" />
                            </svg>
                        </div>
                        <div class="twitter">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41"
                                fill="none">
                                <path
                                    d="M38.0783 11.5109C38.031 11.3966 37.9508 11.2988 37.8478 11.2301C37.7449 11.1614 37.6239 11.1248 37.5002 11.125H32.3752C31.7919 10.0036 30.9143 9.06213 29.8367 8.40151C28.7591 7.74089 27.5219 7.38602 26.258 7.37496C25.3634 7.36211 24.4754 7.52907 23.6465 7.86591C22.8177 8.20276 22.065 8.70264 21.433 9.33589C20.7792 9.97608 20.2603 10.7407 19.9069 11.5847C19.5535 12.4287 19.3727 13.335 19.3752 14.25V15.9937C12.5549 14.5265 6.87517 8.86871 6.81423 8.80621C6.73053 8.72175 6.62448 8.66292 6.50851 8.63663C6.39255 8.61034 6.27149 8.61767 6.15955 8.65777C6.04736 8.69814 5.94907 8.76975 5.87626 8.86415C5.80344 8.95856 5.75915 9.07182 5.74861 9.19058C5.09236 16.475 7.19705 21.3328 9.0783 24.1265C10.101 25.677 11.3827 27.0401 12.8674 28.1562C10.4174 31.3578 6.07673 33.0203 6.03142 33.0375C5.94233 33.0702 5.86187 33.1228 5.79615 33.1913C5.73042 33.2598 5.68116 33.3423 5.65209 33.4327C5.62303 33.5231 5.61493 33.6188 5.6284 33.7128C5.64187 33.8068 5.67657 33.8964 5.72986 33.975C5.77205 34.0375 6.1658 34.6 7.22048 35.125C8.55173 35.7875 10.3283 36.125 12.5002 36.125C23.2955 36.125 32.3017 27.7562 33.108 17.0265L37.9424 12.1921C38.0299 12.1048 38.0895 11.9934 38.1137 11.8721C38.1379 11.7509 38.1256 11.6252 38.0783 11.5109ZM32.058 16.3078C31.9505 16.4156 31.886 16.5589 31.8767 16.7109C31.2267 26.8968 22.7158 34.875 12.5002 34.875C9.71111 34.875 8.18298 34.2671 7.42205 33.8015C9.04236 33.0484 12.3361 31.2484 14.2705 28.3468C14.3175 28.2758 14.3495 28.1959 14.3646 28.1121C14.3796 28.0283 14.3774 27.9423 14.358 27.8593C14.3392 27.776 14.3032 27.6976 14.2523 27.629C14.2015 27.5604 14.1369 27.5031 14.0627 27.4609C14.0424 27.4484 11.9705 26.2109 10.0752 23.375C8.43767 20.9234 6.62361 16.7671 6.90486 10.6015C8.96267 12.4171 14.0111 16.3828 19.897 17.3671C19.9873 17.3823 20.0798 17.3774 20.168 17.3528C20.2562 17.3282 20.3379 17.2846 20.4073 17.225C20.4768 17.1654 20.5323 17.0912 20.5699 17.0078C20.6076 16.9243 20.6264 16.8337 20.6252 16.7421V14.25C20.6239 13.5006 20.7724 12.7585 21.0619 12.0673C21.3514 11.3761 21.7761 10.7497 22.3111 10.225C22.8276 9.70879 23.4423 9.30129 24.1188 9.02649C24.7953 8.75169 25.52 8.61516 26.2502 8.62496C28.4689 8.65308 30.5455 10.0093 31.4158 12.0015C31.4641 12.1113 31.5429 12.2049 31.6429 12.2711C31.743 12.3374 31.8599 12.3734 31.9799 12.375H35.9908L32.058 16.3078Z"
                                    fill="#014F9D" />
                            </svg>
                        </div>
                        <div class="facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41"
                                fill="none">
                                <path
                                    d="M20 4.875C16.9097 4.875 13.8887 5.79139 11.3192 7.50829C8.7497 9.22518 6.74701 11.6655 5.56439 14.5206C4.38177 17.3757 4.07234 20.5173 4.67524 23.5483C5.27813 26.5792 6.76627 29.3633 8.95146 31.5485C11.1367 33.7337 13.9208 35.2219 16.9517 35.8248C19.9827 36.4277 23.1243 36.1182 25.9794 34.9356C28.8345 33.753 31.2748 31.7503 32.9917 29.1808C34.7086 26.6113 35.625 23.5903 35.625 20.5C35.6205 16.3574 33.9728 12.3858 31.0435 9.45648C28.1143 6.52721 24.1426 4.87955 20 4.875ZM20.625 34.8609V23.625H25C25.1658 23.625 25.3247 23.5592 25.4419 23.4419C25.5592 23.3247 25.625 23.1658 25.625 23C25.625 22.8342 25.5592 22.6753 25.4419 22.5581C25.3247 22.4408 25.1658 22.375 25 22.375H20.625V18C20.625 17.1712 20.9542 16.3763 21.5403 15.7903C22.1264 15.2042 22.9212 14.875 23.75 14.875H26.25C26.4158 14.875 26.5747 14.8092 26.6919 14.6919C26.8092 14.5747 26.875 14.4158 26.875 14.25C26.875 14.0842 26.8092 13.9253 26.6919 13.8081C26.5747 13.6908 26.4158 13.625 26.25 13.625H23.75C22.5897 13.625 21.4769 14.0859 20.6564 14.9064C19.8359 15.7269 19.375 16.8397 19.375 18V22.375H15C14.8342 22.375 14.6753 22.4408 14.5581 22.5581C14.4409 22.6753 14.375 22.8342 14.375 23C14.375 23.1658 14.4409 23.3247 14.5581 23.4419C14.6753 23.5592 14.8342 23.625 15 23.625H19.375V34.8609C15.6202 34.6975 12.0787 33.0701 9.50925 30.3273C6.93978 27.5845 5.54668 23.9444 5.62841 20.187C5.71013 16.4295 7.26017 12.8535 9.94647 10.225C12.6328 7.59645 16.2417 6.12453 20 6.12453C23.7584 6.12453 27.3673 7.59645 30.0535 10.225C32.7398 12.8535 34.2899 16.4295 34.3716 20.187C34.4533 23.9444 33.0602 27.5845 30.4908 30.3273C27.9213 33.0701 24.3798 34.6975 20.625 34.8609Z"
                                    fill="#014F9D" />
                            </svg>
                        </div>
                        <div class="pinterest">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41"
                                fill="none">
                                <path
                                    d="M13.3326 24.6667C8.3326 17.1667 15.7693 11.3334 20.8326 11.3334C25.8959 11.3334 29.9993 14.09 29.9993 20.5C29.9993 25.5634 26.6659 28.8334 23.3326 28.8334C19.9993 28.8334 18.3326 25.5 19.1659 20.5M19.9993 17.1667L14.9993 36.3334"
                                    stroke="#014F9D" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M19.9997 37.1667C29.2047 37.1667 36.6663 29.705 36.6663 20.5C36.6663 11.295 29.2047 3.83337 19.9997 3.83337C10.7947 3.83337 3.33301 11.295 3.33301 20.5C3.33301 29.705 10.7947 37.1667 19.9997 37.1667Z"
                                    stroke="#014F9D" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="sub-footer">
        <div class="flex justify-center items-center h-[30px]">
            <p>Copyright Bridesmaids Revisited 2023 | Site Design by 3816Creative</p>
        </div>
    </div>
</div>


<style>
    footer {
        background-color: {{ section.settings.bg }};
        color: {{ section.settings.text_color }};
    }
</style>



{% schema %}
    {
        "name" : "Footer",
        "settings": [
            {
                "type": "color",
                "id": "bg",
                "label": "Background color",
                "default": "#fff"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text color",
                "default": "#000"
            }
        ],
        "tag": "footer"
    }
{% endschema %}